/* Bootstrap overrides */
#wrapper {
    max-height: 800px;
    max-width: 1200px;
    background-color: whitesmoke;
}

#p {
    font-family: 'Courier';
}

body {
    background-color: darkblue;
    max-height: 800px;
    max-width: 1200px; 
}