{% extends 'base.html' %}

{% block title %} VFR {% endblock %}
{% block content %}
<div id="container" style="width:100%; height:400px;"></div>

<script src="{{ url_for('static', filename='node_modules/highcharts/highcharts.js')}}"></script>
<script type="text/javascript">
    console.log("Starting JS script!")
    fetch("/chart_testing/csv_test")
    .then(response => response.text())
    .then(data => console.log('Data received:', data))
    .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
    });

    addEventListener("keypress", (event) => { 
        console.log(event['key']);
        if (event['key'] == 'a') {
            Highcharts.charts[0].series[0].points[0].onMouseOver();
        }
        else if (event['key'] == 'b') {
            Highcharts.charts[0].series[1].points[0].onMouseOver();
        }
        else if (event['key'] == 'c') {
            Highcharts.charts[0].series[1].points[1].onMouseOver();
        }
        else if (event['key'] == 'd') {
            Highcharts.charts[0].tooltip.hide()
        }
    })

    document.addEventListener('DOMContentLoaded', function () {
    const chart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
</script>
{% endblock %}