{% extends 'base.html' %}

{% block title %} VFR {% endblock %}
{% block content %}
    <p id="debug_info">{{ debug_info }}</p>
    <p id="socket_info"></p>
    <p>{{ metar }}</p>
    <p>{{ taf }}</p>
    <button id="button">Press me!</button>
    <br>
    <img src="{{ url_for('static', filename= '{{  }}') }}">

<script>
    const socket = new WebSocket("ws://" + location.host + "/echo");
    var btn = document.getElementById("button");

    // TODO better manage client side requested GPIO state
    var led = false;

    var last_received = 0;

    // Toggle led state
    btn.addEventListener("click", function(event) {
        console.log("Client button clicked");
        led = !led
    });

    // Receive current GPIO state
    socket.addEventListener("message", ev => {
        console.log(ev.data);
        var seconds = new Date().getTime() / 1000;
        last_received = seconds
        // document.getElementById("debug_info").textContent = ev.data.debug ? "DEBUG" : "PROD"
        socket.send(JSON.stringify({
            "led": led,
            "client_time": seconds
        }));
    });

    function reload() {
        location.reload(true);
    }

    setInterval(function(){
        var seconds = new Date().getTime() / 1000;
        var diff = (seconds - last_received).toFixed(2)
        var socket_info = document.getElementById("socket_info")
        socket_info.innerText = "PING: " + diff + "s"
        if (diff > 3) {
            socket_info.style.color = "red"
        } else if (diff > 1) {
            socket_info.style.color = "gold"
        } else {
            socket_info.style.color = "green"
        }
    }, 100);
</script>

{% endblock %}