{% extends 'base.html' %}

{% block title %} VFR {% endblock %}
{% block content %}
    <script>
        const myChart = new Chart(ctx);
        console.log("hi!");
    </script>

    <p>{{ icao }}</p>
    <div class="row">
        <div class="column">
            <img class="svg" src="{{ url_for('dynamicassets_metar_wind', icao=icao) }}"/>
            <img class="svg" src="{{ url_for('dynamicassets_metar_additional_info', icao=icao) }}"/>
            <p style="font-family:Courier New">FILL THIS IN WITH METAR TEXT</p>
            <p style="font-family:Courier New">FILL THIS WITH METAR RECENCY</p>
        </div>
        <div class="column">
            <img src="{{ url_for('dynamicassets_metar_cloud_cover', icao=icao) }}"/>
        </div>
    </div>
{% endblock %}